<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/functions_%26iterable_iterator_part24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def test(x,y):
  """this is my function
     which add two numbers"""
  return x+y

In [11]:
test(5,4)

9

In [35]:
# help(test(5,15))

In [36]:
def length(s):
  count=0
  for i in s:
    count+=1
  return count

length("wor")

3

In [38]:
import socket

def get_ip_address():
    # Get the hostname of the local machine
    hostname = socket.gethostname()

    # Get the IP address of the local machine
    ip_address = socket.gethostbyname(hostname)

    return ip_address

# Call the function to print the IP address
print("IP Address:", get_ip_address())

IP Address: 172.28.0.12

In [42]:
a=lambda c,d:(c*3,d*3)

a(50,100)

(150, 300)

In [44]:
def func1(*args,**kwargs):
  print(args)
  print(kwargs)

func1(54,75,45,45,c=89,d=80)

(54, 75, 45, 45)
{'c': 89, 'd': 80}

In [48]:
{i:i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [59]:
# iterable and iterator

s1="python"   # string s1 is iterable

s1=iter(s1)   #string s1 is iterable we are converting it into iterator using iter function

next(s1)
next(s1)

'y'

In [61]:
list3=[15,9,8,7,4,56,9]

list3=iter(list3)
next(list3)
next(list3)

9