<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##calling a function

In [5]:
def myfunction():
  print("Hello from a function")

myfunction()

Hello from a function

##arguments

In [6]:
def addition(x,y):
    z=x+y
    print(z)

addition(20,30)
addition(50,80)
addition(90,90)

50
130
180

##passing list as an argument

In [7]:
def function1(f):
  for i in f:
    print(i)

r=["school",True,55,98.952,"bus"]
function1(r)

school
True
55
98.952
bus

##default parameter value

In [11]:
def location(city="pune"):
  print("i am from "+city)

location("new delhi")
location()             # no argument
location("chennai")
location("hyderabad")

i am from new delhi
i am from pune
i am from chennai
i am from hyderabad

##Arbitrary Arguments, *args

In [14]:
def location(*city):
  print("my current location is "+city[3])

location("mumbai","delhi","chennai","pune","bangalore")

my current location is pune

##Return Values

In [16]:
def calci(n):
  return n*10

print(calci(50))
print(calci(20))
print(calci(70))

500
200
700

##pass statement

In [22]:
def hello():
  pass