<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/python_classes_%26_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
class button:
   v="red"

p=button()
print(p.v)

red

In [8]:
class school:
   #The __init__() function is called automatically every time the class is being used to create a new object
   def __init__(self,value1,value2):   # self could be anything
    self.value1=value1
    self.value2=value2



d=school(55,98)
print(d.value1)
print(d.value2)

55
98

In [10]:
class school:

   def __init__(self,value1,value2):
    self.value1=value1
    self.value2=value2
    print(value1,value2)
    print(self.value1,self.value2)

d=school(55,98)
print(d.value1)
print(d.value2)

55 98
55 98
55
98

In [6]:
class student:
  def __init__(self,name,city):
    self.name=name
    self.city=city
d=student("peter",30)
print(d.name,d.city)

peter 30

##str() function

In [3]:
class person:
  def __init__(self,name,age):   #value of self could be anythimg
    self.name=name
    self.age=age
  #python does not support constructor overloading try creating two __init__() function
  def __str__(self):
     f=self.name+"("+str(self.age)+")"  #simple concatenation done here
     return f

d=person("john",28)
print(d)

john(28)

In [5]:
class employee:
   def __init__(self,name,salary):
    self.name=name
    self.salary=salary
   def function9(self):       # this function will not execute automatically like init() function you have to call it separately using class object
                           # also observe argument that we have passed.it can be self or anything
    print("sara's salary is ",self.salary)

d=employee("sara",75000)
d.function9()

sara's salary is  75000

In [4]:
class employee:
   def __init__(self,name,salary):
    self.name=name
    self.salary=salary
   def function9(self):
    print("sara's salary is ",self.salary)

d=employee("sara",75000)
d.salary=95000
#we can delete the property by writing   del d.salary
# we can delete object      by writing   del d
d.function9()

sara's salary is  95000