<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/python_datatypes_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list in python
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Insertion order is maintained in list

List stores Heterogenous data.

List is mutable

List is growable in nature

List allow duplicate values

In [ ]:
list1=["linear",84.63,47,23,True,"g"]
list1.append(96)  #append to add new element to list
list1.remove(47)  #to remove element from list
list1.pop(1)
print(list1)
print(list1[1])   #to get the particular element in list
list1.insert(2,False)   # aapend wont work hence use insert
print(list1)
list1.clear()     # ro clear a list
list1

['linear', 23, True, 'g', 96]
23
['linear', 23, False, True, 'g', 96]

[]

In [ ]:
vehicles=["car","bike","bus","train","truck"]
person=["mercedez","bmw","tata","hyundai"]
vehicles.extend(person)
print(vehicles)

['car', 'bike', 'bus', 'train', 'truck', 'mercedez', 'bmw', 'tata', 'hyundai']

In [ ]:
vehicles=["car","bike","bus","train","truck"]
vehicles.pop(1)
print(vehicles)
print(vehicles[1:4])

['car', 'bus', 'train', 'truck']
['bus', 'train', 'truck']

In [ ]:
print(vehicles[-1])

truck

In [ ]:
for i in range(len(vehicles)):
 print(vehicles[i])

car
bike
bus
train
truck

In [ ]:
for i in vehicles:
  print(i)

car
bike
bus
train
truck

In [ ]:
vehicles=["car","bike","bus","train","truck"]
i=0
while i<len(vehicles):
   print(vehicles[i])
   i+=1

car
bike
bus
train
truck

In [ ]:
list1=eval(input())
print(list1)

#List comprehension

In [2]:
s=[x*x for x in range(1,10)]
print(s)

m=[x for x in s if x%2==0]
m

[1, 4, 9, 16, 25, 36, 49, 64, 81]

[4, 16, 36, 64]

In [ ]:
vehicles=["car","bike","bus","train","truck"]
newlist=[]
for i in vehicles:
   if "a" in i:
    newlist.append(i)
print(newlist)

['car', 'train']

#reverse a list

In [10]:
list3=["M","K","A","Y","L"]
list3.sort()
print(list3)
list3.sort(reverse=True)
list3

['A', 'K', 'L', 'M', 'Y']

['Y', 'M', 'L', 'K', 'A']

#nested list

In [6]:
n=[10,30,50,[11,22,33]]
n[1][1]

TypeError: ignored