<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/python_datatype_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SET
###1.Unordered means that the items in a set do not have a defined order.
###2.Once a set is created, you cannot change its items, but you can remove
###  items and add new items.
###3.In set duplicates are not allowed
###4.The values True and 1 are considered the same value in sets, and are
###  treated as duplicates

## how to declare empty set

In [2]:
s=set()               # dont use curly braces while declaring empty set

print(type(s))

<class 'set'>

In [ ]:
set1={"php","python",True,55,6.9,98,98,98}  #duplicates not allowed
set1.add(69)
set1.remove(55)
#set1[0]=777 #Error cannot change its items but you can remove and add new items
set1

{6.9, 69, 98, True, 'php', 'python'}

##The values True and 1 ,0 and false are considered the same value in sets, and are treated as duplicates

In [ ]:
set2={True,1,0,False}  #True and 1 are considered as one value
set2

{0, True}

##Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
set3={'google',55, 'apple', True, 'yahoo', 'Ralph Lauren'}
s=set3.pop()
print(s)
print(set3)
set3.clear()
set3

True
{'apple', 'yahoo', 55, 'Ralph Lauren', 'google'}

set()

##remove items using remove and discard function

In [ ]:
set3={'google',55, 'apple', True, 'yahoo', 'Ralph Lauren'}
set3.discard(989) # if item is not exists in set then discard method does not raise an error
set3.remove("google")
#set3.remove("oceangate") # raise an error because value doesnt exists in set
set3

{55, 'Ralph Lauren', True, 'apple', 'yahoo'}

##looping through set

In [ ]:
set3={'google',55, 'apple', True, 'yahoo', 'Ralph Lauren'}
for i in set3:
  print(i)

True
apple
yahoo
55
Ralph Lauren
google

## + operator don't work for set hence need to use update and union function

In [ ]:
set1={True,"loop"}
set2={"hyper",False}
print(set1.union(set2))  # union method is not making changes to any of these two sets
print(set1,set2)         #observe here
set1.update(set2)        #update method makes changes into set1 not into set2
print(set1)
print(set2)

{False, True, 'loop', 'hyper'}
{True, 'loop'} {False, 'hyper'}
{False, True, 'loop', 'hyper'}
{False, 'hyper'}

##clear function

In [ ]:
set2={"hyper",False}
set2.clear()
print(set2)

set()