<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/python_datatype_dictionary2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
dict1={'name':'john','age':25,'result':'good'}

print(dict1.keys())

print(dict1.values())

for k in dict1.keys():
  print(k)
  print(dict1[k])

dict_keys(['name', 'age', 'result'])
dict_values(['john', 25, 'good'])
name
john
age
25
result
good

In [46]:
dict1={'name':'john','age':25,'result':'good'}

for k,v in dict1.items():            # k keys v values
  print(k,v)

name john
age 25
result good

In [26]:
for k in dict1.values():
  print(k)

john
25
good

In [32]:
students={'name':['rohan','john','bob'],'age':[25,24,22],'weight':[75,55,65]}

print(students.keys())

print(students.values())
print('\n')

for i in students.keys():
  print(i,end=' ')
  print(students[i][0])
print('\n')
for i in students.keys():
  print(i,end=' ')
  print(students[i][1])
print('\n')
for i in students.keys():
  print(i,end=' ')
  print(students[i][2])

dict_keys(['name', 'age', 'weight'])
dict_values([['rohan', 'john', 'bob'], [25, 24, 22], [75, 55, 65]])


name rohan
age 25
weight 75


name john
age 24
weight 55


name bob
age 22
weight 65

# pop

In [38]:
dict1={'name':'john','age':25,'result':'good'}

dict1.popitem()                  # removes last key value pair

dict1

{'name': 'john', 'age': 25}

In [39]:
dict1={'name':'john','age':25,'result':'good'}

dict1.pop('age')

dict1

{'name': 'john', 'result': 'good'}

# clear dictionary

In [41]:
dict1={'name':'john','age':25,'result':'good'}

dict1.clear()

dict1

{}

# delete dictionary

In [42]:
del dict1

#print(dict1)    # throws error because dict1 no longer exists

# dictionary comprehension

In [44]:
dict2={x:x**2 for x in range(2,10,2)}

print(dict2)

{2: 4, 4: 16, 6: 36, 8: 64}

# sorting dictionary

In [67]:
dict3=sorted(dict2)

dict3

[2, 4, 6, 8]

In [55]:
dict3=sorted(dict2,reverse=True)

print(dict3)

[8, 6, 4, 2]