<a href="https://colab.research.google.com/github/revan-desai/pythonbasics/blob/main/tuple_set_dictionary_functions_part24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t1=(5,6,7)

In [2]:
t1[0:2]

(5, 6)

In [ ]:
t1[0]=54 #error tuple is immutable like string

In [7]:
set1=set()

set1.add(5)   # not append  set has add function
set1.add(55)
set1.add(45)
set1.add(88)

In [8]:
set1    # observe order is not maintained

{5, 45, 55, 88}

In [10]:
set1[0:2]   # error    set items not subscriptable

In [14]:
dict1={"name":"john","age":45,"scores":[54,47,89,100],"key4":{"a":55,"b":75}}

dict1["scores"][2]

89

In [15]:
dict1["key4"]["b"]

75